form{
    /* background: rgb(152, 235, 147); */
    width: 100%;
    border-radius: 15px;
    height: 81%;
    padding-left: 20%;
}
h2{
    padding: 15px 15px;
}
*{
    padding: 0;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-image: url(imga.jpg);
}
table{
    width: 100%;
    box-shadow: 0 0 0.1vw 0.3vw #fff7f7, 0 0 3vw 0.3vw #7528d6, inset 0 0 1vw 0.3vw #7528d6, inset 0 0 0.3vw 0.1vw #fff7f7;
    border-radius: 10px;
}
th{
    text-align: left;
    font-size: 5mm;
}
table, th, td{
    border: 1px solid rgb(60, 228, 183);
}
th, td{
    padding: 10px;
}
tr:nth-child(odd){
    background-color: rgb(60,228,183);
}
.a{
    color: blue;
    background: white;
}
.b{
    color: yellow;
    background: black;
}